* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;
}

#search {
  grid-column: 1 / span 2;
  height: 35px;
  font-size: 28px;
  outline: none;
  border: 3px solid rgb(0, 156, 0);
  margin-right: 0;
  padding-left: 8px;
  border-bottom: none;
}

#random-button {
  height: 37px;
  font-size: 28px;
  padding: 0 7px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;
  border: 3px solid rgb(255, 0, 0);
  background-color: white;
  outline: none;
}

#names {
  font-size: 20px;
  list-style: none;
  margin-left: 10px;
}

#names li {
  margin-bottom: 5px;
}

h2 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.toggle {
  height: 41px;
  width: 100%;
  margin: 0;
  float: right;
  border: 3px solid blue;
  background-color: white;
  font-size: 25px;
  outline: none;
  padding: 0 5px;
}

#toggle-global {
  border-right: none;
}

#form {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  margin-bottom: 15px;
}
